@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "_functions";

$width: 400px;
$min-tile-count: 3; 
$max-tile-count: 6;
$tile-padding: 15px;
$tile-radius: 3px;
$tile-font: 'Open Sans', sans-serif;
$images:  '../images/snowman.svg', // 2
          '../images/christmas-basket.svg', // 4
          '../images/christmastree.svg', // 8
          '../images/cookies.svg', // 16
          '../images/fireplace.svg', // 32
          '../images/gift.svg', // 64
          '../images/socks.svg', // 128
          '../images/santa-chimney.svg', // 256
          '../images/sleigh.svg', // 512
          '../images/snow-ball.svg', // 1024
          '../images/santa.svg'; // 2048

// $tile-gold-color: #edc22e;
// $tile-gold-glow-color: lighten($tile-gold-color, 15%);
// $bright-text-color: rgb(215, 236, 152);
$game-container-background: #bbada0;
$tile-color: #eee4da;
$text-color: #fff;
$bcg-color: rgba(86, 55, 129, 0.6);

$transition-time: 170ms;
$green: rgba(215, 236, 152, 0.7);
$green-light: rgba(215, 230, 180, 0.7);

.container {
  max-width: 600px;
  height: 100vh;
}

.bg-size {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: $text-color;
  background: $bcg-color;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  // height: 100vh;
}

p {
   margin-top: 0;
   margin-bottom: 10px;
   line-height: 1.65;
   display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}

a {
  color: $text-color;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: darken($text-color, 5%);
  }
}

strong {
  &.important {
    text-transform: uppercase;
  }
}

hr {
  border: none;
  border-bottom: 1px solid lighten($text-color, 40%);
  margin-top: 20px;
  margin-bottom: 30px;
}

#heading {
   margin-top: 4em;
}

h1.title {
   font-size: 80px;
   font-weight: bold;
   margin: 0;
   display: block;
   float: left;
}

.scores-container {
  text-align: right;
  float: right;
}

.score-container, .best-container {
  $inner-height: 25px;

  min-height: 2.5em;
  min-width: 5em;

  position: relative;
  display: inline-block;
  background: $game-container-background;
  padding: 15px 25px;
  font-size: $inner-height;
  height: $inner-height;
  line-height: $inner-height + 22px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin: 10px 5px;
  text-align: center;

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: $tile-color;
  }

  .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: $inner-height;
    line-height: $inner-height;
    font-weight: bold;
    color: rgba($text-color, .9);
    z-index: 100;
    @include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);
  }
}

.score-container:after {
  content: "Score";
}

.best-container:after {
  content: "Best"
}

#instructions {
   padding-top: 0.5em;

   .restart-button {
      margin-top: -0.5em; /* hack */
   }
}

.restart-button {
   display: inline-block;
   background-color: $green;
   border-radius: 3px;
   padding: 0 20px;
   text-decoration: none;
   color: #f9f6f2;
   height: 40px;
   line-height: 42px;
   cursor: pointer;
   display: block;
   text-align: center;
   float: right;
   border: none;
   @include transition(all 0.1s linear);
   &:hover { background-color: $green-light; }
}

#game-container {
   position: relative;
   width: 400px;
   height: 400px;
   margin: 70px auto;
   display: inline-block;
}

.icons-desc {
  margin: 30px 0px 0 50px;
  width: 100px;
  height: 550px;
  display: inline-block;
  border-radius: 6px;
  background-color: #bbaaa0;
  .icon-itm {
    position: relative;
    @for $i from 1 through length($images) {
      &.icon-itm-#{$i} .icon-img {
        background-image: url(nth($images, $i))
      }
    }
    .icon-img {
      width: 40%;
      height: 41px;
      margin: 3px 0 0 10px;
      display: inline-block;
      @extend .bg-size;
    }
    .icon-val {
      position: absolute;
      top: 50%;
      width: 50%;
      color: #fff;
      font-size: 15px;
      text-align: center;
      text-shadow: 2px 2px 2px #000;
      @include transform(translateY(-50%));
    }
  }
}

.game-overlay {
  width: $width;
  height: $width;
  background-color: rgba(255, 255, 255, 0.47);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  padding-top: 30%;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;
  box-sizing: border-box;
  
  &.ng-enter {
    @include transition(all 1000ms ease-in);
    @include transform(translate(0, 100%));
    opacity: 0;
  }

  &.ng-enter-active {
    @include transform(translate(0, 0));
    opacity: 1;
  }

  span {
    text-shadow: 2px 2px 2px #000;
  }
  .lower {
      display: block;
      margin-top: 30px;
      font-size: 15px;
      a {
         display: inline-block;
         background: #8f7a66;
         border-radius: 3px;
         padding: 0 20px;
         text-decoration: none;
         color: #f9f6f2;
         height: 40px;
         line-height: 42px;
         cursor: pointer;
         margin-left: 9px;
      }
    }
  }

@mixin game-board($tile-count: 4) {
  $tile-size: ($width - $tile-padding * ($tile-count + 1)) / $tile-count;
  #game-#{$tile-count} { 
    position: relative;
    padding: $tile-padding;
    cursor: default;
    background: #bbaaa0;
    border-radius: 6px;
    width: $width;
    height: $width;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .grid-container {
      position: absolute;
      z-index: 1;
      margin: 0 auto;

      .grid-cell {
        width: $tile-size;
        height: $tile-size;
        margin-bottom: $tile-padding;
        margin-right: $tile-padding;
        float: left;
        @include border-radius($tile-radius);
        background: rgba(238, 228, 218, 0.35);
        &:last-child {
          margin-right: 0
        }
      }
    }

    .tile-container {
      position: absolute;
      z-index: 2;

      .unstyled-tile {
        font-family: $tile-font;
        position: absolute;
        width: $tile-size;
        height: $tile-size;
        background: white;
        margin: 0 auto;
        font-size: 2em;
        text-align: center;
        font-weight: bold;
        z-index: 10;
        font-size: 2.5em;
        line-height: ($width/$tile-count) - $tile-padding;
      }
      .tile {
        z-index: 2;
        font-family: $tile-font;
        position: absolute;
        width: $tile-size;
        height: $tile-size;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        @include border-radius($tile-radius);
        @include transition($transition-time ease-in-out);
        &.tile-merged .tile-inner {
          @include animation(pop 0.5s linear);
          &:before {
            @include animation(sparkle .5s infinite steps(1), movetop 2.5s infinite steps(1), moveleft 3.5s infinite steps(1));  
          }
        }

        @for $x from 1 through $tile-count {
          @for $y from 1 through $tile-count {
            $zeroOffsetX: $x - 1;
            $zeroOffsetY: $y - 1;
            $newX: ($tile-size) * ($zeroOffsetX) + ($tile-padding * $zeroOffsetX);
            $newY: ($tile-size) * ($zeroOffsetY) + ($tile-padding * $zeroOffsetY);

            &.position-#{$zeroOffsetX}-#{$zeroOffsetY} { 
              @include transform(translate($newX, $newY));
            }
          }
        }

        @for $i from 1 through length($images) {
          &.tile-#{power(2, $i)} .tile-inner {
            background-image: url(nth($images, $i))
          }
        }
        &:last-child {
          margin-right: 0
        }

        .tile-inner {
          line-height: ($width/$tile-count) - $tile-padding;
          text-align: center;
          font-weight: bold;
          z-index: 10;
          font-size: 2.5em;
        }
      }
    }
  }
}

@for $i from $min-tile-count through $max-tile-count {
  @include game-board($i);
}

@include keyframes(appear) {
  0% {
    opacity: 0;
    @include transform(scale(0));
  }
  50% {
    opacity: 1;
    @include transform(scale(1.2));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  } 
}

@include keyframes(pop) {
  0% {
    opacity: 1;
    @include transform(scale(1));
  }
  25% {
    // opacity: 0.25;
    @include transform(scale(1.25));
  }
  50% {
    // opacity: 0.5;
    @include transform(scale(1.5));
  }
  75% {
    // opacity: 0.75;
    @include transform(scale(1.25));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

/* My CSS */

#HighScore-table {
    width: 320px;
    margin: 50px auto;
    p {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
    ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      li {
          margin: 10px 0;
      }
    }
}

.tile-inner { 
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0px !important; 
    text-align: initial;
    font-weight: initial;
    width: 60px;
    height: 60px;
    @extend .bg-size;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width:20px;
      height:20px;
      background-color:red;
      margin:20%;
      background:url(http://i.imgur.com/2T5M8.png?1);
    }
}

@include keyframes(sparkle) {
  0%, 100%{background-position:0px 0}
  20%{background-position:20px 0}
  40%{background-position:40px 0}  
  60%{background-position:60px 0}
  80%{background-position:80px 0}
}

@include keyframes(movetop) {
  0%, 100%{top:0;}
  20%{top: -10px;} 
  40%{top: -20px;}  
  60%{top: -15px;}
  80%{top: -10px}
}

@include keyframes(moveleft) {
  0%, 100%{left: 0px}
  14.28%{ left: -15px}
  28.57%{ left: -10px}  
  42.85%{ left: 0px}
  57.14%{ left: 10px}
  71.42%{ left: 15px}
  85.71%{ left: 20px}
}

input {
  color: #000;
}