<div id="content" ng-controller='GameController as ctrl'>
  <!-- heading -->
  <div id="heading" class="row">
    <h1 class="title">my2048</h1>
    <div class="scores-container">
      <div class="score-container">{{ctrl.game.currentScore}}</div>
      <div class="best-container">{{ctrl.game.highScore}}</div>
    </div>
  </div>

  <!-- instructions -->
  <div id="instructions" class="row">
    <div class="text-wrap">
        <p>Join the christmas icons and get to the <strong>SANTA</strong> tile!</p>
        <p>To store data in leaderboard you need to <a class="internal-link" ng-click="ctrl.openModal()">Log in</a> first</p>
    </div>
    <button ng-click='ctrl.newGame()' class="restart-button">New game</button>
  </div>
  
  <div id="game-container">
    <div grid ng-model='ctrl.game'></div>
    <div id="game-over" ng-if="ctrl.game.gameOver" class="row game-overlay">
      <span>Game over</span>
      <div class="lower">
        <a class="retry-button" ng-click='ctrl.newGame()'>Try again</a>
      </div>
    </div>

    <div id="win" ng-if="ctrl.game.win" class="row game-overlay">
      You win!
      <div class="lower">
        <a class="retry-button" ng-click='ctrl.newGame()'>Try again</a>
      </div>
    </div>
  </div>
  <div class="icons-desc">
    <div class="icon-itm icon-itm-1">
      <div class="icon-img"></div>
      <span class="icon-val">2</span>
    </div>
    <div class="icon-itm icon-itm-2">
      <div class="icon-img"></div>
      <span class="icon-val">4</span>
    </div>
    <div class="icon-itm icon-itm-3">
      <div class="icon-img"></div>
     <span class="icon-val">8</span>
    </div>
    <div class="icon-itm icon-itm-4">
      <div class="icon-img"></div>
      <span class="icon-val">16</span>
    </div>
    <div class="icon-itm icon-itm-5">
      <div class="icon-img"></div>
      <span class="icon-val">32</span>
    </div>
    <div class="icon-itm icon-itm-6">
      <div class="icon-img"></div>
      <span class="icon-val">64</span>
    </div>
    <div class="icon-itm icon-itm-7">
      <div class="icon-img"></div>
      <span class="icon-val">128</span>
    </div>
    <div class="icon-itm icon-itm-8">
      <div class="icon-img"></div>
      <span class="icon-val">256</span>
    </div>
    <div class="icon-itm icon-itm-9">
      <div class="icon-img"></div>
      <span class="icon-val">512</span>
    </div>
    <div class="icon-itm icon-itm-10">
      <div class="icon-img"></div>
      <span class="icon-val">1024</span>
    </div>
    <div class="icon-itm icon-itm-11">
      <div class="icon-img"></div>
      <span class="icon-val">2048</span>
    </div>
  </div>

  <div id="HighScore-table">
    <p>Top 5 scores</p>
    <ul>
      <li ng-repeat="obj in scores track by $index">{{$index}}) UserID: {{obj.id}} Score: <strong>{{ obj.get('HighScore') }}</strong></li>
    </ul>
  </div>

<!--   <form id="registerForm">
    <input type="text" ng-model="user.name">
    <input type="password" ng-model="user.password">
    <input type="email" ng-model="user.email">
    <input type="submit" ng-click="ctrl.registerUser(user)"></button>
  </form>

  <form novalidate id="loginForm">
    <input type="text" ng-model="user.login">
    <input type="password" ng-model="user.pass">
    <input type="submit" ng-click="ctrl.loginUser(user)"></button>
  </form> -->

  <div>
    <p>
      Reinterpretated by <a href="https://github.com/MichalObi">MichalObi</a> based on 2048 by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> and tutorial on <a href="http://www.ng-newsletter.com/">ng newsletter</a>.</a>
    </p>
  </div>
</div>